
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");

/* General Page */
body {
  background-color: black;
 min-height: 100vh;
  margin: 0;
  padding:0;
  display: flex; 
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
::selection {
  color: black;
  background-color: #ece6d0;
        
}

.main-content {
  flex: 1;
}

header {
  width: 100%;
  height: 160vh;
  background-color: black;
  display: flex;
}
.header-left-side {
  padding: 0 0 0 90px;
  color: white;
}
.header-left-side h1 {
  color: #ece6d0;
  line-height: 1.2em;
  font-size: 78px;
  padding-top: 20px;
  margin-bottom: 20px;
  font-weight: 400 !important;
}
.header-left-side h2 {
  color: #ece6d0;
  font-family: "Inter", sans-serif;
  font-size: 26px;
  line-height: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px;
}
.header-left-side p {
  margin-top: 5%;
  margin-bottom: 10%;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  color: #5ba8ff;
  line-height: 2;
}

button {
  padding: 20px 10px;
  border: 2px solid #ece6d0;
  background: transparent;
  width: 47%;
  color: white;
  margin-right: 15px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover {
  background-color: #5ba8ff;
  transition: 0.7s;
}
.btn {
  width: 97%;
  background-color: #ece6d0;
}


.top-left-button {
    margin: 20px;
    top: 20px;       
    left: 20px;       
    width: 20%;  
    padding: 20px 10px; 
    border: 2px solid #ece6d0; 
    background: transparent;
    color: white; 
    font-family: "Inter", sans-serif; 
    font-size: 20px; 
    text-transform: uppercase; 
    cursor: pointer; 
    z-index: 1000;   
}


.top-left-button:hover {
    background-color: #5ba8ff;
    transition: 0.7s;
}

.header-left-side h3 {
  color: #5ba8ff;
  padding-top: 80px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
.header-right-side img {
  width: 670px;
  height: 884px;
  margin-top: 15%;
}

.content-background {
  background-color: #ece6d0;
  padding: 20px;
}

/* Container to style the research and BUILD Nigeria pages*/
.container {
    display: flex;
  overflow: hidden; 
    padding: 10px; 
    align-items: center;
  justify-content: space-between;
}

.image {
   flex-grow: 1;
  max-width: 45%; 
    margin-right: 20px; 
  margin-left: 5px;
  order: 2;
  margin-bottom: 20px;
}

.text-container {
    flex-grow: 1;
    flex-basis: 45%;
    margin-left: 20px;
    margin-right: 5px;
    box-sizing: border-box;
    color: #5ba8ff;
    font-family: "Inter", sans-serif; 
    font-size: 16px;
    order: 1;
  text-align: left;
   margin-bottom: 20px;
}


/* Carousel Container Styles */
.carousel-container {
  width: 100%;
  margin: 0 auto; /* Center carousel */
}

.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #FFE270;
  background: rgba(0, 0, 0, 0.5); 
  padding: 10px 20px;
  border-radius: 10px;
}

.carousel-indicators li { 
  background-color: rgba(0,0,0,0);
  border: 1px solid #FEE16F;
  border-radius: 0;
}
.carousel-indicators .active { 
  background-color: #FEE16F;
}
.caption h2{
color:#FFE270;
line-height:45px;
font-size: 50px;
  margin: 0;
}
.caption strong { 
  font-size: 26px;
  display: block;
  margin-top: 5px;
}

.swiper-pagination {
  position: absolute;
  bottom: 80px; /* Position it between the captions */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
  width: auto;

/* Swiper Navigation Styles */
.swiper-button-next, .swiper-button-prev {
  color: #FFF;
}

/* Swiper Pagination Styles */
.swiper-pagination-bullet {
  background: #edf2f8;
}

.swiper-pagination-bullet-active {
  background: #f87858;
}

/* Iframe Container Styles */
.iframe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.iframe-container iframe {
 flex: 1 1 calc(33.333% - 40px);
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: calc(100vh / 2 - 40px);
  max-width: calc(33.333% - 40px);
}

